<%- include('partials/header') %>
<main>
        <h1><%= title %></h1>
        <h2>Upcoming Service Projects</h2>
            <% categories.forEach(category => { %>
                <a href="/category/<%= category.category_id %>">
    <%= category.name %>
</a></li>
            <% }) %>
           <p>
    <a href="/new-category">
        Add New Category
    </a>
</p> 
</main>
<%- include('partials/footer') %>