<%- include('partials/header') %>

<main>

    <h1><%= category.name %></h1>

    <h2>Service Projects</h2>

    <p>

        <% projects.forEach(project => { %>

           

                <a href="/project/<%= project.project_id %>">
                    <%= project.title %>
                </a>

            

        <% }) %>

            </p>

</main>

<%- include('partials/footer') %>