<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <p>Here are a few of our partner organizations:</p>

    <!-- ADMIN ONLY: Add Organization -->
    <% if (user && user.role_name === 'admin') { %>
        <p>
            <a href="/organizations/new">Add New Organization</a>
        </p>
    <% } %>

    <ul>
        <% organizations.forEach(organization => { %>
            <li>
                <img
                    src="/images/<%= organization.logo_filename %>"
                    alt="<%= organization.name %> logo"
                >

                <a href="/organization/<%= organization.organization_id %>">
                    <%= organization.name %>
                </a>

                : <%= organization.contact_email %>

                <!-- ADMIN ONLY: Edit link -->
                <% if (user && user.role_name === 'admin') { %>
                    <a href="/edit-organization/<%= organization.organization_id %>">
                        Edit
                    </a>
                <% } %>
            </li>
        <% }) %>
    </ul>

</main>

<%- include('partials/footer') %>