<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        <h2>Upcoming Service Projects</h2>
<ul     <ul>
            <% organizations.forEach(organization => { %>
                <li><strong><%= organization.name %></strong>: <%= organization.contact_email %></li>
            <% }); %>
        </ul>
    </main>
</body>
<%- include('partials/footer') %>
