<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <ul>
        <% users.forEach(user => { %>
            <li>
                <strong><%= user.name %></strong><br>
                <%= user.email %><br>
                Role: <%= user.role_name %>
            </li>
        <% }) %>
    </ul>

</main>

<%- include('partials/footer') %>